header{
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #65AADA;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

header img{
	width: 90px;
	height: 90px;
}


h3 {
	text-align: center;
}

#imgHome{
	text-align: center;
	
}

#imgHome img{
	text-align: center;
	height: 785; 
	width: 420;
}

.cerrar {
	text-align: right;
	padding-right: 20px;
	color: white;
}


.main {
	background:#f2f2f2;
}


.image {
	width: 500px;
	height: auto;
	padding-right: 20px;
}

.image img{
	width: 200px;
	height: 200px;
	text-align: center;
}
.color1 {
	width: 400px;
	background: #E2E2E2;
	color: #000;
	text-align: left;
	padding-left: 60px;
	padding-top: 60px;
	padding-bottom: 50px;
	border-color: black;
	border-top-width: 10px;
  	border-right-width: 1em;
  	border-bottom-width: thick;
  	border-left-width: thin;

}

.boton{
	text-align: center;


}
.titul{
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.color3{
	padding-top: 50px;
}
aside {
	background:#648F9E;
	color:#fff;
}


footer {
	background-color: #8FBDD1;
  	color: white;
  	padding-top: 30px;
  	font-size: 10px;
}