.cabecera{
  background-color: #65AADA;
  padding-top: 20px;
  height: 130px;
  color: white;
}

.cabecera img{
  width: 90px;
  height: 90px;
}

.cuerpo{
  font-family: 'Myriad Pro';
  font-size: 11pt;
}

.pie {
  background-color: #8FBDD1;
    color: white;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 50px;
    font-family: 'Myriad Pro';
}

.pieD{
    float: right;
}
.pieI{
    float: left;
}

.cerrar{
  color: #fff;
  float: right;
}




@media screen and (max-width: 400px){
  .logo {
      font-size: 2em;}
    .logo p{
      padding-left: 50px;
        
    }
    
    .ghost{
        position: absolute;
    top: 70px;
    }
    
}

video{
   max-width: 100%;
  height: auto;

}
