.custom-navbar {
	margin-bottom: 0;
	background-color: #fff;
	z-index: 9999;
	border: 0;
	line-height: 1.42857143 !important;
	border-radius: 0;
}

.custom-container {
	/* arriba derecha abajo izquierda */
	padding-top: 20px;
}

.custom-div {
	position: absolute;
	top: 20px;
    left: 40px;
	width: 60%;
	background-color: rgba(218, 82, 33, 0.55);
	color: #fff;
	/* arriba derecha abajo izquierda */
	padding: 0px 15px 0px 15px;
}

.home-page-col-sm-8-first {
	background-color: #fff;
	color: #777;
/* 	background-image: url("../images/image-02-estudiantes.jpg");
    background-repeat: no-repeat;
	background-size: contain;
    background-attachment: fixed;
	height: 513px; */
}

.home-page-col-sm-4-second {
	border-radius: 8px;
	background-color: #24adde;
	color: #fff;
	padding: 15px 15px 15px 15px;
}

.btn-override {
	/* arriba derecha abajo izquierda */
	margin: 15px 0px -10px 0px;
}