

.cabecera{
    background-color: #65aada;
    color: #fff;
    
    
}

.cabeceramobil{
    background-color: gray;
    color:white;
    text-align:center;
}


.navegacion{
     
     top:20px;
     position:relative;
     text-align:right;
}


.menu{
    
    font:serif ;
    font-size:14px;
    
    padding:6px;
    color: #fff;
   
    
}
#logo{
    padding:5px;
    margin-right:10px;
    width:120px;
    height:120px;
    
}



#pasante{
    
    width:40px;
    height:50px;
    
}

.titulo{
    padding:20px;
    text-align:center;
    
}
.fuentetit{
    font:helvetica ;
    font-size:20px;
    text-decoration:none;
    color: gray
}
.fuentesub{
    font:helvetica ;
    font-size:28px;
    text-decoration:none;
    text-align:center;
}

.casos{
    
    margin:auto;
    background-color:#cee8f6;
    width:372px;
    height:400px;
    border-top-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    
    

    
}
.textocasos{
    font:sans-serif;
    font-size:18px;
    padding-left:5px;
    padding:25px;
    display:inline-block;
   
}




footer{
	
	background-color: #8fbdd1;
	color: #e9f2f6;
	width: 100%;
    height: 71px;
    bottom:0;
   
}

