.cabecera{
	background-color: #65aada;
	color: white;
}
.elementos{
	padding: 10px;
  	margin: 10px;
  	display: inline-block;
}
#logo{
	height: 150px;
	width: 150px;
}
.body{
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 2px #65aada;
	text-align: center;
	font-size: 50px;

}
#pasante{
	height: 50px;
	width: 50px;
}
.footer{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: #8fbdd1;
	color: #e9f2f6;

    position: absolute;
    bottom: 0;
	width: 100%;
    

}

.sesion{
	padding-right: 50px;
	position: absolute;
	right: 0;
	color: #676767;
}
.iniciar{
	text-align: center;
	background-color: #e8e8e8;
	height:210px;
	width: 300px;
	padding:20px;
}
.registrar{
	text-align: center;
	background-color: #e8e8e8;
	height:200px;
	width: 300px;
	padding:20px;
	margin-top: 10px;
}
.fondo{
	background-image: url("../img/odontologia.jpg");
    background-repeat:no-repeat;
    background-size:100% auto;
}
#cajausuario{
	background-color: white;
	margin-bottom: 5px;
	padding: 5px;
}
#cajacontra{
	background-color: white;
	margin-top: 10px;
	padding: 2px;
	width: 50%;
}
#cajacontra2{
	background-color: white;
	margin-top: 10px;
	padding: 2px;
	margin-bottom: 10px;
}
.texto{
	color: #1c1c1c;
	text-align: left;
	font-size: 11px;
	padding-left: 2px;
}
body{
	background-color: #efefef;
}
.cuerpo{
	text-align: center;
	margin-bottom: 20px;
}
.hijocuerpo{
	display: inline-block;
	margin-left: 50px;
	color: #3a3a3a;
}
#especificacion{
	padding: 30px;
	color: #7b7c7c;
}
.cuadroa{
	margin:auto;
    background-color:#cee8f6;
    width:372px;
    height:100px;
    padding-top: 5px;
}
.cuadrob{
	margin:auto;
    background-color:#cee8f6;
    width:372px;
    height:450px;
    margin-top: 20px;
}
.cita{
	text-align: center;
	margin-top: 20px;
	margin-left: 50px;
	background-color: #cee8f6;
	height:80px;
	width: 300px;
	text-align: center;
}
.enfermedades{
    font-size:18px;
    padding-left:5px;
    padding:25px;
    display:inline-block;
}
.usuario{
	position:absolute;
	right: 0;
	margin-top: 150px;
	display: inline-block;
	margin-right: 100px
}
#flecha{
	display: inline-block;
	height:10px;
	width: 10px;
	margin-right: -10px
}