
header {
    background-color : dodgerblue;
    color: white;
    
}

h1 {
    
}



.contanier {
    background-color: ghostwhite
}

.col-md-3 {
    background-color: azure;
    border-color: lightgray;
    border-style: solid;
    height: 250px;
    width: 250px;
    
    
}






